*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background-color: #283747;
    color: #fff;
    padding: 4px;
    position: fixed; /* Encabezado fijo en la parte superior */
    top: 0; /* Anclar en la parte superior */
    width: 100%;

}

.header h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h2{
    text-align: center;
}

#h2{
    margin-top: 15px;

}

/*slider*/


#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #34495E;
    color: #fff;
    text-align: center;
    margin-top: 54px;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.underline-hover::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: all 300ms;
}
.underline-hover:hover::after{
    width: 100%;

}


#content {
    margin-top: 44px;
    margin-left: 195px;
    padding: 20px;
}

#predio{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px ;
    padding: 20px;
    width: 60%;
    height: auto;
    margin-top: 3%;
}


#infoPredio {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px; /* Espacio entre las columnas */
    margin-top: 30px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}

.table input[type="text"] {
    background-color: rgb(139, 150, 153);
    font-family: Arial, Helvetica, sans-serif;
}


.table input[type="text"] {
    border:1px solid #cec2c2;
    opacity: 5;
    background-color:#e9e9e9;
    width: 80%;
    height: 30px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle !important;
}

.tbody {
    background-color:#ffffff;
}


#infoJuridica {
    text-align: center; /* Centrar el contenido dentro del contenedor */
}
#infoInteresados{
    text-align: center;
}

#derechoinfo {
    display: inline-block; /* Para centrar el contenido */
    text-align: left; /* Ajustar el texto a la izquierda dentro del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}

#table1{
    margin-top: 20px; /* Espacio superior para separar las tablas del título */
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
    width: 80%; /* Ancho de la tabla */
}

#table1, th, td {
    border: 1px solid black; /* Añadir bordes a la tabla y celdas */
    padding: 8px; /* Espaciado interno */
}

thead {
    background-color: #f2f2f2; /* Color de fondo para la cabecera */
}

th {
    text-align: left; /* Ajustar el texto a la izquierda dentro de las celdas de encabezado */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: auto; /* Altura del viewport */
    background-color: rgb(238, 238, 237);
    border-radius: 2%;
    max-width: 720px;
    margin-bottom: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
}

.container .tbody {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}

.container .tbody th,
.container .tbody td {
    display: flex;
    flex-direction: row; /* Mostrar elementos en fila */
    margin-bottom: 10px; /* Espacio entre elementos */
    align-items: center; /* Centrar elementos verticalmente */
}

.container .tbody label input {
    margin-right: 5px; /* Espacio entre checkbox y texto */
    width: auto; /* Tamaño automático para el input */
}


.custom-checkbox input:checked + .checkmark {
    background-color: rgb(0, 255, 0);
}

#nombre_predio{
    margin-bottom: 20px;
}


input {
    width: auto;
}

input:disabled {
    color: black;
    background-color: white;
    border-radius: 5px;
}

input[type="checkbox"]:disabled {
    background-color: blue;
}

table {
    text-align: center;
}

.map {
    height: 400px;
    width: 800px;
    z-index: -1;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#modal span {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.9;
}

#modal #modal-body {
    background-color: #fefefe;
    margin: 10% 5%;
    width: 90%;
    height: 300px;
    display: flex;
    position: fixed;
    flex-direction: column;
    border-radius: 15px;
}

#modal #modal-body h2 {
    text-align: justify;
    margin: 20px 0 0 5%;
}

#modal #modal-body p {
    text-align: justify;
    margin: 5px 0 0 5%;
}

#close-modal {
    width: 50px;
    font-size: 40px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    align-self: flex-end;
    position: absolute;
}

.scrool-table-modal {
    max-height: 250px;
    overflow: auto;
}

.tablas-consultas {
    width: 90%;
    margin: 10px auto 50px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.tablas-consultas th {
    background-color: #2E4053;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.tablas-consultas td {
    border-bottom: 1px solid;
}

.tablas-consultas button {
    width: 100%;
    padding: 2px;
    border: 0;
    border-left: 1px solid;
}

.tablas-consultas button:hover {
    background-color: black;
    color: white;
}


.tablas-consultas td a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
