<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Predio</title>
    <link rel="stylesheet" href="/predio.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<header class="header">
    <h1>Gestor Catastral</h1>
</header>
<body>

<div id="sidebar">
    <ul>
        <li onclick="showSection('predio')" id="infoPredioBtn" class="link underline-hover">Información predio</li>
        <li onclick="showSection('direccion')" id="direccionBtn"  class="link underline-hover">Dirección</li>
        <li onclick="showSection('infoJuridica')" id="infoJuridicaBtn"  class="link underline-hover">Información jurídica</li>
        <li onclick="showSection('infoInteresados')" id="infoInteresadosBtn"  class="link underline-hover">Información de interesados</li>
        <li onclick="showSection('Construc')" id="construccionesBtn"  class="link underline-hover">Construcciones</li>
        <li onclick="showSection('UniConstruccion')" id="unidadesConstruccionBtn"  class="link underline-hover">Unidades de construcción</li>
        <li onclick="showSection('Terren')" id="terrenosBtn"  class="link underline-hover">Terrenos</li>
    </ul>
</div>


<div id="content">
    <center>
        <section id="predio">
            <h1>Informacion predio</h1>
            <div id="infoPredio">
                <label for="departamento">Departamento</label>
                <input id="departamento" th:value="${(predio.departamento == null) ? 'null' : predio.departamento}" disabled>
                <label for="municipio">Municipio</label>
                <input id="municipio" th:value="${(predio.municipio == null) ? 'null' : predio.municipio}" disabled>
                <label for="t_id">Código Operación</label>
                <input id="t_id" th:value="${(predio.numero_predial == null) ? 'null' : predio.numero_predial}" disabled>
                <label for="codigo_orip">Código ORIP</label>
                <input id="codigo_orip" th:value="${(predio.codigo_orip == null) ? 'null' : predio.codigo_orip}" disabled>
                <label for="matricula_inmobiliaria">Matricula Inmobiliaria</label>
                <input id="matricula_inmobiliaria" th:value="${(predio.matricula_inmobiliaria == null) ? 'null' : predio.matricula_inmobiliaria}" disabled>
                <label for="numero_predial">Numero Predial</label>
                <input id="numero_predial" th:value="${(predio.numero_predial == null) ? 'null' : predio.numero_predial}" disabled>
                <label for="numero_predial_anterior">Numero Predial Anterior</label>
                <input id="numero_predial_anterior" th:value="${(predio.numero_predial_anterior == null) ? 'null' : predio.numero_predial_anterior}" disabled>
                <label for="codigo_homologado">Código Homologado</label>
                <input id="codigo_homologado" th:value="${(predio.codigo_homologado == null) ? 'null' : predio.codigo_homologado}" disabled>
                <label for="nupre">Nupre</label>
                <input id="nupre" th:value="${(predio.nupre == null) ? 'null' : predio.nupre}" disabled>
                <label for="avaluo_catastral">Avaluo Catastral</label>
                <input id="avaluo_catastral" th:value="${(predio.avaluo_catastral == null) ? 'null' : predio.avaluo_catastral}" disabled>
                <label for="p_tipo">Tipo</label>
                <input id="p_tipo" th:value="${(predio.col_unidadadministrativabasicatipo == null) ? 'null' : predio.col_unidadadministrativabasicatipo.dispname}" disabled>
                <label for="condicion_predio">Condición del predio</label>
                <input id="condicion_predio" th:value="${(predio.ric_condicionprediotipo == null) ? 'null' : predio.ric_condicionprediotipo.dispname}" disabled>
                <label for="destinacion_economica">Destinación economica</label>
                <input id="destinacion_economica" th:value="${(predio.ric_destinacioneconomicatipo == null) ? 'null' : predio.ric_destinacioneconomicatipo.dispname}" disabled>
                <label for="zona">Clase suelo</label>
                <input id="zona" th:value="${(predio.ric_zonatipo == null) ? 'null' : predio.ric_zonatipo.dispname}" disabled>
            </div>
        </section>
    </center>
    <br>
    <hr>
    <section id="direccion">
        <div class="container">
            <h1>Dirección</h1>
            <tbody class=" tbody">
            <tr th:each="dir : ${direccion}">
                <th scope="row">Tipo de dirección</th>
                <td><input id="tipo_direccion" th:value="${(dir.extdireccion_tipo_direccion == null) ? 'null' : dir.extdireccion_tipo_direccion.dispname}" disabled></td>

                <th scope="row">Dirección Principal</th>
                <td>
                    <label class="custom-checkbox">
                        <td><input id="es_direccion_principal" type="checkbox" th:checked="${(dir.es_direccion_principal == null) ? 'null' : dir.es_direccion_principal}" disabled></td>
                        <span class="checkmark"></span>
                    </label>
                </td>

                <th scope="row">Código Postal</th>
                <td><input id="codigo_postal" th:value="${(dir.codigo_postal == null) ? 'null' : dir.codigo_postal}" disabled></td>

                <th scope="row">Clase Via Principal</th>
                <td><input id="clase_via_principal" th:value="${(dir.extdireccion_clase_via_principal == null) ? 'null' : dir.extdireccion_clase_via_principal.dispname}" disabled></td>

                <th scope="row">Valor Via Principal</th>
                <td><input id="valor_via_principal" th:value="${(dir.valor_via_principal == null) ? 'null' : dir.valor_via_principal}" disabled></td>

                <th scope="row">Letra Via Principal</th>
                <td><input id="letra_via_principal" th:value="${(dir.letra_via_principal == null) ? 'null' : dir.letra_via_principal}" disabled></td>

                <th scope="row">Sector Ciudad</th>
                <td><input id="sector_ciudad" th:value="${ (dir.extdireccion_sector_ciudad == null) ? 'null' : dir.extdireccion_sector_ciudad.dispname}" disabled></td>

                <th scope="row">Valor Via Generadora</th>
                <td><input id="valor_via_generadora" th:value="${(dir.valor_via_generadora == null) ? 'null' : dir.valor_via_generadora}" disabled></td>

                <th scope="row">Letra Via Generadora</th>
                <td><input id="letra_via_generadora" th:value="${(dir.letra_via_generadora == null) ? 'null' : dir.letra_via_generadora}" disabled></td>

                <th scope="row">Número Predio</th>
                <td><input id="numero_predio" th:value="${(dir.numero_predio == null) ? 'null' : dir.numero_predio}" disabled></td>

                <th scope="row">Sector Predio</th>
                <td><input id="sector_predio" th:value="${ (dir.extdireccion_sector_predio == null) ? 'null' : dir.extdireccion_sector_predio.dispname}" disabled></td>

                <th scope="row">Complemento</th>
                <td><input id="complemento" th:value="${(dir.complemento == null) ? 'null' : dir.complemento}" disabled></td>

                <th scope="row">Nombre Predio</th>
                <td><input id="nombre_predio" th:value="${(dir.nombre_predio == null) ? 'null' : dir.nombre_predio}" disabled></td>
            </tr>
            </tbody>
        </div>
    </section>
    <section id="infoJuridica">
        <h1>Informacion juridica</h1>
        <div id="derechoinfo">
            <h2>Derecho</h2>
            <table>
                <thead>
                <th>Tipo de Derecho</th>
                <th>Fracción del Derecho</th>
                <th>Fecha de Documento Fuente</th>
                <th>Descripción</th>
                </thead>
                <tbody>
                <tr th:each="derecho : ${derechos}">
                    <td><input id="d_tipo" th:value="${(derecho.ric_derechotipo == null) ? 'null' : derecho.ric_derechotipo.dispname}" disabled></td>
                    <td><input id="fraccion_derecho" th:value="${(derecho.fraccion_derecho == null) ? 'null' : derecho.fraccion_derecho}" disabled></td>
                    <td><input id="fecha_documento_fuente" th:value="${(derecho.fecha_inicio_tenencia == null) ? 'null' : derecho.fecha_inicio_tenencia}" disabled></td>
                    <td><input id="descripcion" th:value="${(derecho.descripcion == null) ? 'null' : derecho.descripcion}" disabled></td>
                </tr>
                </tbody>
            </table >
            <h2>Fuente Administartiva</h2>
            <table>
                <thead>
                <th>Tipo de Fuente</th>
                <th>Ente Emisor</th>
                <th>Observaciónes</th>
                <th>Numero Fuente</th>
                <th>Estado Disponibilidad</th>
                <th>Tipo Principal</th>
                <th>Fecha de Documento Fuente</th>
                </thead>
                <tbody>
                <tr th:each="fuente : ${fuenteadministrativa}">
                    <td><input id="tipo" th:value="${(fuente.col_fuenteadministrativatipo == null) ? 'null' : fuente.col_fuenteadministrativatipo.dispname}" disabled></td>
                    <td><input id="ente_emisor" th:value="${(fuente.ente_emisor == null) ? 'null' : fuente.ente_emisor}" disabled></td>
                    <td><input id="observacion" th:value="${(fuente.observacion == null) ? 'null' : fuente.observacion}" disabled></td>
                    <td><input id="numero_fuente" th:value="${(fuente.numero_fuente == null) ? 'null' : fuente.numero_fuente}" disabled></td>
                    <td><input id="estado_disponibilidad" th:value="${(fuente.col_estadodisponibilidadtipo == null) ? 'null' : fuente.col_estadodisponibilidadtipo.dispname}" disabled></td>
                    <td><input id="tipo_principal" th:value="${(fuente.ci_forma_presentacion_codigo == null) ? 'null' : fuente.ci_forma_presentacion_codigo.dispname}" disabled></td>
                    <td><input id="f_fecha_documento_fuente" th:value="${fuente.fecha_documento_fuente}" disabled></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="infoInteresados">
        <h1>Información de interesados</h1>
        <table>
            <thead>
            <tr>
                <th>Tipo de Documento</th>
                <th>Número de Documento</th>
                <th>Nombre/Razón Social</th>
                <th>Participación</th>
                <th>Ver</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="interesado : ${interesados}">
                <td th:text="${(interesado.dispname == null) ? 'null' : interesado.dispname}"></td>
                <td th:text="${(interesado.documento_identidad == null) ? 'null' : interesado.documento_identidad}"></td>
                <td th:text="${(interesado.nombre == null) ? 'null' : interesado.nombre}"></td>
                <td th:text="${(interesado.participacion == null) ? 'null' : interesado.participacion}"></td>
                <td><button th:onclick="'See_Interesado(\'' + ${interesado.t_id} + '\')'">Ver mas</button></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section id="Construc">
        <h1>Construcciones</h1>
        <table class="vertical-table">
            <thead>
            <th>Identificador</th>
            <th>Tipo Construcción</th>
            <th>Tipo Dominio</th>
            <th>Numero Pisos</th>
            <th>Numero Sotanos</th>
            <th>Numero Mezanines</th>
            <th>Numero Semisotanos</th>
            <th>Anio Construcción</th>
            <th>Avaluo Construcción</th>
            <th>Area Construcción</th>
            <th>Altura</th>
            <th>Observaciones</th>
            <th>Codigo Construcción</th>
            <th>Dimensión</th>
            <th>Etiqueta</th>
            <th>Relación Superficie</th>
            <th>Nivel</th>
            <th>Comienzo Vida Util Versión</th>
            <th>Fin Vida Util Versión</th>
            </thead>
            <tbody>
            <tr th:each="construccion : ${contrucciones}">
                <td th:text="${(construccion.identificador == null) ? 'null' : construccion.identificador}"></td>
                <td th:text="${(construccion.ric_construcciontipo == null) ? 'null' : construccion.ric_construcciontipo.dispname}"></td>
                <td th:text="${(construccion.ric_dominioconstrucciontipo == null) ? 'null' : construccion.ric_dominioconstrucciontipo.dispname}"></td>
                <td th:text="${(construccion.numero_pisos == null) ? 'null' : construccion.numero_pisos}"></td>
                <td th:text="${(construccion.numero_sotanos == null) ? 'null' : construccion.numero_sotanos}"></td>
                <td th:text="${(construccion.numero_mezanines == null) ? 'null' : construccion.numero_mezanines}"></td>
                <td th:text="${(construccion.numero_semisotanos == null) ? 'null' : construccion.numero_semisotanos}"></td>
                <td th:text="${(construccion.anio_construccion == null) ? 'null' : construccion.anio_construccion}"></td>
                <td th:text="${(construccion.avaluo_construccion == null) ? 'null' : construccion.avaluo_construccion}"></td>
                <td th:text="${(construccion.area_construccion == null) ? 'null' : construccion.area_construccion}"></td>
                <td th:text="${(construccion.altura == null) ? 'null' : construccion.altura}"></td>
                <td th:text="${(construccion.observaciones == null) ? 'null' : construccion.observaciones}"></td>
                <td th:text="${(construccion.codigo_construccion == null) ? 'null' : construccion.codigo_construccion}"></td>
                <td th:text="${(construccion.col_dimensiontipo == null) ? 'null' : construccion.col_dimensiontipo.dispname}"></td>
                <td th:text="${(construccion.etiqueta == null) ? 'null' : construccion.etiqueta}"></td>
                <td th:text="${(construccion.col_relacionsuperficietipo == null) ? 'null' : construccion.col_relacionsuperficietipo.dispname}"></td>
                <td th:text="${(construccion.ric_nu_nivel == null) ? 'null' : construccion.ric_nu_nivel.nombre}"></td>
                <td th:text="${(construccion.comienzo_vida_util_version == null) ? 'null' : construccion.comienzo_vida_util_version}"></td>
                <td th:text="${(construccion.fin_vida_util_version == null) ? 'null' : construccion.fin_vida_util_version}"></td>
            </tr>
            </tbody>
        </table>
        <div id="construcciones" class="map"></div>
    </section>

    <section id="UniConstruccion">
        <h1>Unnidades de construcción</h1>
        <table class="vertical-table">
            <thead>
            <th>Identificador</th>
            <th>Tipo Construccion</th>
            <th>Tipo Dominio</th>
            <th>Tipo Unidad_construccion</th>
            <th>Total Habitaciones</th>
            <th>Total Banios</th>
            <th>Total Locales</th>
            <th>total Plantas</th>
            <th>Uso</th>
            <th>Anio Construccion</th>
            <th>Area Construida</th>
            <th>Area Privada Construida</th>
            <th>Observaciones</th>
            <th>Comienzo Vida Util Versión</th>
            <th>Fin Vida Util Versión</th>
            </thead>
            <tbody>
            <tr th:each="unidad : ${unidadesC}">
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.identificador}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.ric_construcciontipo.dispname}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.ric_dominioconstrucciontipo.dispname}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.ric_unidadconstrucciontipo.dispname}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.total_habitaciones}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.total_banios}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.total_locales}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.total_plantas}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.ric_usoconstipo.dispname}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.anio_construccion}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.area_construida}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.area_privada_construida}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.observaciones}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.comienzo_vida_util_version}"></td>
                <td th:text="${(unidad.ric_caracteristicasunidadconstruccion == null) ? 'null' : unidad.ric_caracteristicasunidadconstruccion.fin_vida_util_version}"></td>
            </tr>
            </tbody>
        </table>
        <div id="uconstrucciones" class="map"></div>
    </section>

    <section id="Terren">
        <h1>Terrenos</h1>
        <table>
            <thead>
            <th>Manzana/Vereda</th>
            <th>Area</th>
            <th>Geometria</th>
            </thead>
            <tbody>
            <tr th:each="terreno : ${terrenos}">
                <td th:text="${(predio.numero_predial == null) ? 'null' : predio.numero_predial.substring(0,17)}"></td>
                <td th:text="${(terreno.area_terreno == null) ? 'null' : terreno.area_terreno}"></td>

            </tr>
            </tbody>
        </table>
        <div id="terrenos" class="map"></div>
    </section>

    <div id="modal">
        <span id="bg-modal"><button id="close-modal">x</button></span>

        <div id="modal-body">
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/wkx@0.5.0/dist/wkx.min.js"></script>
    <script th:inline="javascript">
        var geometriasTerrenos = /[[${geometriasT}]]/ '';
        var coordenadasConstruccion = /[[${geometriasC}]]/ '';
        var coordenadasUnidadConstruccion = /[[${geometriasUC}]]/ '';
        </script>
    <script th:src="@{/predio.js}"></script>
</div>
</body>
</html>